Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Twisted==14.0.0
Werkzeug==0.9.6
beautifulsoup4==4.3.2
cffi==0.8.6
cryptography==0.5.3
cssselect==0.9.1
gnureadline==6.3.3
itsdangerous==0.24
lxml==3.3.5
mechanize==0.2.5
pyOpenSSL==0.14
pycparser==2.10
queuelib==1.2.2
six==1.7.3
w3lib==1.8.0
wsgiref==0.1.2
zope.interface==4.1.1
