 /* Hierarchy of properties */
/* 1. Layout */
/* 2. Dimensions */
/* 3. Colors and fonts */
/* 4. Borders and whatnot */
/* 5. Z-index */

/* Blue Color */
/* #1f75bb */

/* namespacing conventions */
/* prefix-verb-noun */

html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

/* iOS Safari tap highlight fix */
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#identity {
	width: 100%;
	height: 4em;
	margin: 0;
	padding: 0;
}

.header-content {
	width: 100%;
	height: 4em;
	background-color: #1f75bb;
}


/* S E A R C H */

#address-input {
	display: none;
}

.sb-search-input {
	text-align: center;
	width: 100%;
	font-size: 1.25em;
	border: 1px solid white;
	border-radius: 0 0 0 0;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	padding: 1em;
	border-bottom: 1px solid gray;
	margin-top: -1em;
}

.input-hide {
	z-index: 0;
}

.input-show {
	z-index: 200;
}

.sb-search-submit {
	position: relative;
	display: inline-block;
	width: 8%;
}

.logo-img {
	position: relative;
	display: inline-block;
	width: 4em;
	z-index: 200;
}

h1 {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-family: "proxima-nova", sans-serif;
	font-size: 18px;
	color: white;
}

h1#title-thick {
	font-weight: 700;
}

h1#title-regular {
	font-weight: 500;
}

h1#title-thin {
	font-weight: 300;
}

#toggle-target {
	display: inline-block;
	position: relative;
	float: right;
	height: 4em;
	width: 5em;
	background-color: #1C6199;
	border: none;
	cursor: pointer;
}

#toggle-icon {
	width: 2em;
	height: 2em;
	margin: 1em auto;
	color: #fff;
}

#search-icon {
	display: block;
}

#close-icon {
	display: none;
}

#map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
	z-index: 100;
}

#legend {
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	pointer-events: none;
	font-weight: bold;
	background: #fff;
	border-top: 2px solid white;
	padding: 10px;
	font-size: 12px;
	font-family: "proxima-nova", sans-serif;
}

#legend .legend-item {
	position: relative;
	display: inline-block;
	width: 33%;
	text-align: center;
}

.legend-item p {
	margin: 0 0 1.25em 0;
}

.color {
	position: relative;
	display: inline-block;
	border: 1px solid;
	height: 12px;
	width: 12px;
	margin-right: 3px;
}

.yellow {
  background: #FF3;
}

.green {
  background: #6F0;
}

.blue {
  background: #06C;
}


/* D E S K T O P   S T Y L E S */

@media (min-width: 960px) {
	#identity{
		height: 6em;
		z-index: 200;
	}
	.header-content{
		height: 6em;
	}
	.logo-img {
		width: 6em;
	}
	h1 {
		font-size: 26px;
	}
	#toggle-target {
		right: 0;
		width: 8em;
		height: 6em;
	}
	#toggle-icon {
		width: 3em;
		height: 3em;
		margin: 1.5em auto;
	}
	.sb-search-input {
		font-size: 1.5em;
	}
	#map-canvas {
		height: 100%;
	}
}

/* Printing */
#printable-list-div {
	display:none;
}

@media print {
	body {
		width: 900px;
	}

	#map-canvas {
		height: 900px;
		margin: 4em;
		zoom: .5;
	}

	.print-identity {
		color: #1f75bb;
		font-family: sans-serif;
		display: inline-block;
		padding-right: 1em;
	}
	.print-header {
		font-family: sans-serif;
		display: inline-block;
	}

	#printable-list-div {
		display: inline;
		margin: 2.25em;
	}

	#printable-list-div ul {
		list-style-type: none;
		padding: 2.25em;
		overflow:hidden;
	}

	#printable-list-div ul li {
		padding-bottom: 1.5em;
		line-height:1.5em;
		display: inline-block;
		width: 50%;
		font-family: sans-serif;
	}

	#identity, .sb-search-input, .sb-search-submit, #legend{
		display: none;
	}
}